---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/s-1logo-not-alpha.jpg';
import { Image } from 'astro:assets';
import willow from '../assets/s-willow.jpg';
import mery from '../assets/s-mery_normal.jpg';
---

<Layout
	title="Intersection_2062について"
	description="Intersection_2062について"
	pubDate={new Date('July 19 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		電音部非公式DJイベント「Intersection_2062」は、2062年の少女たちが放つきらめきを反射して音にします。
	</p>
	<a href="https://intersection2062.com/blog/what-is-intersection2062/">
		<p>【どんなイベントかもっとくわしく】</p>
	</a>

	<h2>主催</h2>
	<p>当イベントは<a href="https://x.com/willow_2b">ういろう</a>
		と<a href="https://x.com/d1ggtter">mery</a>
		の共催になっております。
	</p>
	<p>
		なにかございましたら、<a href="https://x.com/Intersection62">イベントのXアカウント</a>
		または主催どちらかのXアカウントまでご連絡ください。
	</p>
	<div class="name-and-x">
		<h3>ういろう</h3>
		<div class="social-links">
			<a href="https://x.com/willow_2b" target="_blank">
				<span class="sr-only">Follow on Twitter</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
					></path></svg
				>
			</a>
		</div>
	</div>
	<Image src={willow} alt="ういろうアー写"/>
	<p>電音部が大好き</p>

	<div class="name-and-x">
		<h3>mery</h3>
		<div class="social-links">
			<a href="https://x.com/d1ggtter" target="_blank">
				<span class="sr-only">Follow on Twitter</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
					></path></svg
				>
			</a>
		</div>
	</div>
	<Image src={mery} alt="meryアー写"/>
	<p>電音部が大好き</p>
</Layout>
